*.suo
*.aps
fellow/SRC/build/cmake
fellow/SRC/fellow/os/windows/versioninfo.h
fellow/SRC/fellow/os/windows/gui/GUI_versioninfo.rc
fellow/SRC/WIN32/MSVC/.vs/
fellow/SRC/WIN32/MSVC/Debug/
fellow/SRC/WIN32/MSVC/Release/
fellow/SRC/WIN32/MSVC/x64/
fellow/SRC/WIN32/MSVC/ARM64/
fellow/SRC/WIN32/MSVC/68kgenerate/
fellow/SRC/WIN32/MSVC/WinFellow.Hardfile/
fellow/SRC/WIN32/MSVC/WinFellow.Hardfile.Tests/
fellow/SRC/M68KTester/Debug
fellow/SRC/M68KTester/Release
*.lyx~
fellow/doxygen/WinFellow-doxygen.*
fellow/doxygen/WinFellow-doxygen.pdf
fellow/SRC/WIN32/NSIS/WinFellow.log
*.bak
*.opensdf
*.sdf
fellow/Docs/WinFellow/WinFellow User Manual.pdf
*.lyx#
*.vcxproj.user
*.obj
*.pdb
*.tlog
*.exe
*.log
*.vsp
fellow/SRC/WIN32/MSVC/.vs/WinFellow/v15/
fellow/SRC/WIN32/DXGI/PixelShader.h
fellow/SRC/WIN32/DXGI/VertexShader.h
fellow/SRC/WIN32/MSVC/packages
