*.suo
fellow/SRC/WinFellow/Windows/versioninfo.h
fellow/SRC/WinFellow/GUI_versioninfo.rc
**/Debug/
**/Release/
*.lyx~
fellow/doxygen/WinFellow-doxygen.*
fellow/doxygen/WinFellow-doxygen.pdf
fellow/SRC/build/NSIS/WinFellow.log
*.bak
*.opensdf
*.sdf
fellow/Docs/WinFellow/WinFellow User Manual.pdf
*.lyx#
*.vcxproj.user
*.obj
*.pdb
*.tlog
*.exe
*.log
**/.vs/
fellow/SRC/WinFellow/DXGI/PixelShader.h
fellow/SRC/WinFellow/DXGI/VertexShader.h
